<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worlab - Dev Challenge</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="script.js" refer></script>
</head>
<body>
    
<div id="page">
    <main>


            <h1>CRUD WORKLAB</h1>
           

        <form action="/listUsers" method="get">

            <fieldset class="login-fieldset">

                <div class="fieldset-wrapper">

                    <legend>SIGN IN</legend>
                    <p>Enter your credentials to access your account</p>
                   
                </div>

                <div class="inputs">

                    <div class="input-wrapper">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="E-mail" required/>
                    </div>


                <div class="input-wrapper">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password" required minlength="3"/>
                </div>



                </div>
                
                <a href="/listUsers">
                    <button type="submit" id="signIn">SIGN IN</button>
                </a>
               

                
               
            </fieldset>


        </form>
        
    </main>
</div>

</body>
</html>